@media (min-width: 1024px) and (max-width: 1439px){
    #bgimg{
        width: 102.5%;
    }
    #bgimg h1{
        font-size: 68px;
    }
    .feature{
        position: relative;
        left: 3%
    }
    .bgimg2 h1{
        font-size: 30px;
    }
} 
@media (min-width: 569px) and (max-width: 768px){
    #bgimg{
        width: 103.4%;
    }
    #bgimg h1{
        font-size: 60px;
    }
    #bgimg>div{
        width: 100%;
    }
    .feature i{
        font-size: 30px;
    }
}
@media (max-width: 569px){
    #bgimg{
        width: 110%;
    }
    #bgimg h1{
        font-size: 45px;
    }
    #bgimg>div:first-child{
        width: 100%;
    }
    .feature i{
        font-size: 30px;
    }
}